@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Poznan University of Technology<br />
    Poznań, jakaś ulica i inne dane<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Maker:</strong>   <a href="mailto:piotrszczap93@gmail.com">piotrszczap93@gmail.com</a><br />
    <strong>Maker:</strong> <a href="mailto:konradwitkowski01@gmail.com">konradwitkowski01@gmail.com</a>
</address>